@font-face {
    font-family: "VictorMono";
    src: url("../fonts/Victor_Mono/VictorMono-VariableFont_wght.ttf");
    /* Additional font formats can be added for compatibility with different browsers */
}

:root {
    --bg-color: #fff;
    --text-color: #000b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --text-color: #fffc;
    }
}


body {
    font-family: "VictorMono";

    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.content {
    flex: 1 1 auto;
}

.metaData {
    text-align: right;

    margin: 0 15px;
}

.footer {
    filter: opacity(0.6);

    display: flex;
    justify-content: space-between;

    margin: 15px;
}

.big {
    font-size: 1.2rem;
    font-weight: bold;
}

.small {
    font-size: 0.8rem;
}

.italic {
    font-style: italic;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 15px;
}

@media (min-width: 500px) {
    .container {
        width: 500px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .metaData,
    .footer {
        margin-left: 0;
        margin-right: 0;
    }
}