@font-face {
    font-family: "VictorMono";
    src: url("../fonts/Victor_Mono/VictorMono-VariableFont_wght.ttf");
    /* Additional font formats can be added for compatibility with different browsers */
}

:root {
    --bg-color: #fff;
    --text-color: #000b;
    --content-width: 100%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --text-color: #fffc;
    }
}

@media (min-width: 500px) {
    :root {
        --content-width: 500px;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: "VictorMono";

    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
    filter: opacity(0.6);
}

a:hover {
    filter: opacity(1);
}

.container {
    width: var(--content-width);
}

.metaData {
    text-align: right;

    padding: 0 15px;
}

.description {
    margin-top: 50px;
}

.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;

    width: var(--content-width);
    padding: 15px;

    background: white;
}

.footer__left {
    flex: 1 1 auto;
}

.footer__icon {
    height: 20px;
    margin-left: 10px;
}

.big {
    font-size: 1.2rem;
    font-weight: bold;
}

.small {
    font-size: 0.8rem;
}

.italic {
    font-style: italic;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 15px;
}

@media (min-width: 500px) {
    canvas {
        margin-top: calc(50vh - 250px); 
        margin-top: -webkit-calc(50vh - 250px); 
        margin-top:    -moz-calc(50vh - 250px); 
        margin-top:      -o-calc(50vh - 250px);
    }

    .metaData,
    .description,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}